.Container{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Title{
    margin-top: -50px;
    font-size: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Title b{
    color: var(--main-color);
    font-weight: 300;
}


.GridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.Loader{
    color: red;
    font-size: 4rem;
}